.line-red {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}
.line-blue {
  fill: none;
  stroke: blue;
  stroke-width: 2px;
}
.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}