.line-red {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}
.line-blue {
  fill: none;
  stroke: blue;
  stroke-width: 2px;
}
.line-yellow {
  fill: none;
  stroke: yellow;
  stroke-width: 2px;
}
.line-green {
  fill: none;
  stroke: green;
  stroke-width: 2px;
}
.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  /*shape-rendering: crispEdges;*/
}

.grid path {
  stroke-width: 0;
}

body {
  padding-top: 65px;
}
#wrapper{
width:100%;
}
table{
/*border:1px solid black;*/
width:100%;
}
th, td{
width:165px;
/*border:1px solid black;*/
}
thead>tr{
position:relative;
display:block;
}
tbody{
display:block;
height:400px;
overflow:auto;
}