$color-red: red;

.line {
  fill: none;
  stroke-width: 2px;
}
.line-red {
  stroke: red;
}

.line-blue {
  stroke: blue;
}

.line-green {
  stroke: green;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 35%; 
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}
