body {
  padding-top: 65px;
  background-color: lightgrey;
}

#wrapper{
height:100%;
width:100%;
}
table{
/*border:1px solid black;*/
width:100%;
}
th, td{
width:165px;
/*border:1px solid black;*/
}
thead>tr{
position:relative;
display:block;
}
tbody{
display:block;
height:700px;
overflow:auto;
}