body {
  padding-top: 65px;
}

#wrapper{
width:100%;
}
table{
/*border:1px solid black;*/
width:100%;
}
th, td{
width:165px;
/*border:1px solid black;*/
}
thead>tr{
position:relative;
display:block;
}
tbody{
display:block;
height:400px;
overflow:auto;
}