<div class="panel-heading"></div>
<div class='panel-body container-fluid' id='wrapper'>
  <button id="new-entry-button" class="btn btn-inverse">Enter Data</button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="table-header">Date</th>
        <th class="table-header" style="color:blue">Temperature Low</th>
        <th class="table-header" style='color:red'>Temperature Hi</th>
        <th class="table-header" style="color:green">Humidity</th>
        <th class="table-header" style="color:steelblue">Dew Point</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <div class="panel-buttons"></div>
</div>